<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a href="https://www.designevo.com/" title="Free Online Logo Maker" class="navbar-brand">
          <img src="/assets/images/logo_sudeep.png" width="72" height="80"/>
        </a>
        <% if(typeof isAuthenticated !== 'undefined'){ %>
            <% if(isAuthenticated){ %>
                <a href="/logout" class="slds-button slds-button_destructive">Logout</a>
            <% }else{ %>
                <a href="/login" class="slds-button slds-button_brand">Login</a>
            <% } %>
        <% }else{%>
            <a href="/login" class="slds-button slds-button_brand">Login</a>
        <% } %>
    </div>
</nav>

<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link <%= homeTabState %>" aria-current="page" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= sessionsTabState %>" href="/sessions">Sessions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= contactsTabState %>"" href="/contacts">Contacts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= oauthcontactsTabState %>"" href="/oauthcontacts">Contacts (oAuth)</a>
    </li>
  </ul>