<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand">Logo</a>
        <% if(typeof isAuthenticated !== 'undefined'){ %>
            <% if(isAuthenticated){ %>
                <a href="/logout" class="btn btn-danger btn-md">Logout</a>
            <% }else{ %>
                <a href="/login" class="btn btn-md">Login</a>
            <% } %>
        <% }else{%>
            <a href="/login" class="btn btn-dark btn-md">Login</a>
        <% } %>
    </div>
</nav>

<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link <%= homeTabState %>" aria-current="page" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= sessionsTabState %>" href="/sessions">Sessions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= contactsTabState %>"" href="/contacts">Contacts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
  </ul>